<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dark Rest</title>
        <style>
            :root {
                font-size: 20px;
                color: #eee;
            }
            body {
                background-color: #222;
            }
        </style>
    </head>
    <body>
        <h1>Dark rest</h1>
        <p>Todo está oscuro por acá</p>
    </body>
</html>
